 *{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
  }
  header{
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    color: #f9f9f9;
  }
  header img{
    width: 200px;
  }
  .navbar{
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
  }
  .navbar a{
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px;
    margin: 25px;
    font-size: 1.3rem;
    color: #464646;
    position: relative;
  }
  .navbar a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  
  .navbar a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }




.headbanner{
    width: 100vw;
    padding: 40px;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}
.headbanner div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.headbanner div h1{
  font-size: 5rem;
  text-align: left;
}
.headbanner div h2{
  font-size: 2rem;
  text-align: left;
}
.headbanner div p{
  font-size: 1rem;
  text-align: left;
  padding-top: 10px;
  width: 600px;
}
.headbanner div button{
  border-radius: 10px;
  padding: 10px;
  width: 120px;
  cursor: pointer;
  font-size: 1.3rem;
  border: none;
  background-color: #7e4dda;
  color: #f9f9f9;
  margin: 10px;
}
.headbanner div button:hover{
  scale: 1.08;
  transition: ease-in-out 150ms;
}
.headbanner .banner{
  width: 668px;
  background-color: red;
  box-shadow: #000000 10px 10px 10px;
  border-radius: 20px;
}
.headbanner .banner img{
    width: 668px;
    border-radius: 20px;
}


.events_wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  text-align: center;
}
.events_wrapper h1{
  font-size: 2.5rem;
  background-color: #6f34dd;
  color: #f9f9f9;
  width: max-content;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
}
.events{
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}
.event{
  width: 950px;
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  background-color: rgb(172, 172, 172);
  border-radius: 15px;
}
.event img{
  width: 400px;
  height: 300px;
  background-color: red;
  box-shadow: #000000 10px 10px 10px;
  overflow: hidden;
  margin: 20px;
}
.event div{
  text-align: left;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.event div h2{
  font-size: 3rem;
}
.event div button{
  font-size: 1rem;
  background-color: #6f34dd;
  color: #f9f9f9;
  border: none;
  border-radius: 10px;
  width: max-content;
  padding: 10px;
  margin: 10px;
}
.ourteam{
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}
.ourteam h2{
  font-size: 2rem;
  padding: 10px;
  background-color: #6f34dd;
  color: #f9f9f9;
  width: max-content;
  border-radius: 10px;
  margin: 0 auto;
}
.ourteam .members{
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 40px auto;
  width: 100%;
}
.ourteam .members .member{
  background-color: rgb(214, 214, 214);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
}
.ourteam .members .member:hover{
  scale: 1.03;
  box-shadow: #000000 3px 3px 3px;
  transition: ease-in-out 150ms;
}
.ourteam .members .member img{
  width: 400px;
  height: 250px;
  overflow: hidden;
  padding: 0px;
}
.ourteam .members .member div{
  padding: 10px;
  background-color: #2957ff;
  color: #f9f9f9;
}
.ourteam .members .member div h1{
  font-size: 1.8rem;
}
.ourteam .members .member div h3{
  font-size: 1.3rem;
}
.ourteam .members .member .teamsocials a{
  text-decoration: none;
  color: #000000;
  padding: 10px;
}







.newsletter_wrapper{
  border-radius: 20px;
  margin: 0 auto;
  width: 80%;
  background-color: #6f34dd;
  display: flex;
  flex-direction: row;
  scale: 0.7;
}
.newsletter_wrapper .newsletter_img{
  width: 50%;
}
.newsletter_wrapper.newsletter_img img{
  width: 100%;
}
.newsletter_wrapper .newsletter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f9f9f9;
  margin: 15px;
}
.newsletter_wrapper .newsletter h1{
  font-size: 3rem;
}
.newsletter_wrapper .newsletter form input[type=email]{
  font-size: 1.3rem;
  padding: 7px;
  border-radius: 10px;
  border: 0px;
}
.newsletter_wrapper .newsletter form input[type=submit]{
  border-radius: 10px;
  color: #6f34dd;
  background-color: #f9f9f9;
  font-size: 1.5rem;
  padding: 5px;
  border: none;
  cursor: pointer;
  margin: 10px;
}
.newsletter_wrapper .newsletter form input[type=submit]:hover{
  scale: 1.03;
  transition: ease-in-out 100ms;
}


.ourclubs{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  text-align: center;
}
.ourclubs h1{
  font-size: 2.5rem;
  background-color: #6f34dd;
  color: #f9f9f9;
  width: max-content;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
}
.clubs{
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}
.club{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
}
.club img{
  width: 500px;
  height: 500px;
  background-color: red;
  box-shadow: #000000 10px 10px 10px;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px;
}
.club_details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.club_details img{
  width: 200px;
  height: auto;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}
.club_details p{
  max-width: 500px;
  font-size: 1.3rem;
  padding: 10px;
}
.club_details button{
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  background-color: #6f34dd;
  color: #f9f9f9;
  padding: 10px;
  margin: 20px;
}
